.skeletonImage {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(180, 2%, 70%);
  }

  100% {
    background-color: hsl(0, 0%, 50%);
  }
}
