.orderPage {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  margin: 2rem 0;
}

.orderPersonalInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

.orderLFM {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.orderField {
  width: 80%;
}

.deliveryForm {
  width: 80%;
  margin-bottom: 1rem !important;
}

.novaPoshtaDelivery {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.orderPageInfo {
  max-width: 500px;
}

.orderContactInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}