@import '../../../../variables.scss';

.filtrationItem {
  cursor: pointer;
  max-width: 300px;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  transition: 350ms ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  &:hover {
    transform: scale(1.025);
  }
  img {
    border-radius: 0.3125rem;
    z-index: -1;
  }
  p {
    @include light-font;
    color: white;
    position: absolute;
    top: 10px;
    left: 1rem;
    @media all and (max-width: 425px) {
      font-size: 1.5rem;
    }
  }
  @media all and (max-width: 1440px) {
    width: 260px;
  }
}

.filtrationItemImg {
  display: block;
  width: 300px;
  object-fit: cover;
  object-position: center;
  @media all and (max-width: 1440px) {
    width: 260px;
    height: 260px;
  }
}

.filtrationBgItem {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: grey;
  top: 0;
}