@import '../../../variables';

.productsPageWrapper {
  min-height: 100% !important;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
  @media all and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
  @media all and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.productsWrapper {
  @media all and (max-width: 425px) {
    margin: 1rem;
  }
  @media all and (max-width: 425px) {
    margin: 0;
  }
}

.noItemsTitle {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.productsListWrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.productsList {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 1rem;

  @media all and (max-width: 1400px) {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
  @media all and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media all and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.productsListLoadMoreBtn {
  margin-top: 2rem;
  @media all and (max-width: 600px) {
    display: flex;
    justify-content: center;
  }
}

.productItem {
  display: flex !important;
  flex-direction: column;
  max-width: 260px;
  width: 100%;
  height: 600px !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  font-family: 'Roboto', serif;
  background: #ffffff;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
  transition: 350ms ease-in-out;

  &:hover {
    transform: scale(1.025);
  }
}

.productInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.productInfo {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Roboto', serif;
  font-weight: 300;

  span {
    width: 50%;
    text-align: center;
    position: relative;
  }

  input {
    margin: 0 auto;
  }

  button {
    margin: 0 auto;
  }
}

.productImg {
  background-color: $alliance-grey-plug;
  margin: 0;
  display: block !important;
  width: 100%;
  height: 260px !important;
  object-fit: cover;
  object-position: center;
}

.productTitle {
  font-family: 'Roboto', serif;
  font-weight: 300;
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;

  &:hover {
    color: $alliance-orange;
  }
}

.priceInfo {
  margin: 10px 5px;
  display: flex;
  align-items: center;

  input {
    text-align: center;
    width: 5rem;
    padding: .25rem 1rem;
    border: 1px solid $alliance-grey;
    border-radius: 5px;
    transition: .3s ease-in-out;

    &:focus {
      outline: none !important;
      border: 1px solid $alliance-orange;
      box-shadow: 0 0 10px $alliance-grey;
    }

    @media all and (max-width: 1200px) {
      font-size: 14px;
    }

  }

  @include bottomBorder;
}

.stockInfo {
  margin: 10px 5px;
  display: flex;
  align-items: center;
  @include bottomBorder;
}

.buyInfo {
  margin: 10px 5px;
  display: flex;
  align-items: center;
}

.notInStock {
  @include toCenter;
  margin: 10px 5px;
}

.buyBtn {
  font-family: 'Roboto', serif;
  font-weight: 300;
  transition: .3s ease-in-out;
  cursor: pointer;
  background-color: white;
}

.IconBtn {
  top: 5px;
  right: 5px;
  position: absolute !important;
}

.rightBorder {
  @include rightBorder;
}
