@import '../../../variables';

.searchBar {
  margin-top: 2rem;
}

.productsPageWrapper {
  margin: 2rem 0;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
  @media all and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
  @media all and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.sidebar {
  margin: 0 auto;
  width: 396px;
  @media all and (max-width: 485px) {
    width: 280px;
  }
}

.sidebarWrapper {
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
}

.sidebarContainer {
  padding: 2rem;
  @media all and (max-width: 485px) {
    padding: 10px;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-family: 'Roboto', serif;
  font-weight: 300;
  @media all and (max-width: 425px) {
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 0;
  }
  @media all and (max-width: 425px) {

  }
}

.catalogItem {
  transition: 300ms ease-in-out;

  &:hover {
    color: $alliance-orange;
  }
}

.productsWrapper {
  @media all and (max-width: 425px) {
    margin: 1rem;
  }
  @media all and (max-width: 425px) {
    margin: 0;
  }
}

.priceRange {
  padding: 1rem;
  @media all and (max-width: 1024px) {

  }
}

.priceRangeTitle {
  margin-bottom: 1rem;
}

.rangePricesForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 18px;
}

.rangePricesInputs {
  position: relative;
  display: flex;
  gap: 3rem;

  input {
    border-radius: 5px;
    border: 1px solid $alliance-grey;
    max-width: 4rem;
    width: 100%;
    text-align: center;

    &:focus-visible {
      outline: 1px solid $alliance-orange;
    }
  }

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    height: 1px;
    width: 1rem;
    background-color: $alliance-grey;
  }
}

.rangePriceSubmitBtn {
  background: none;
  border: 1px solid $alliance-orange;
  border-radius: 5px;
  width: 4rem;
  margin-left: 1rem;
  transition: .3s ease-in-out;

  &:hover {
    color: white;

    background-color: $alliance-orange;
  }
}

.noItemsTitle {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  grid-auto-rows: auto;
  row-gap: 2rem;
  column-gap: 1rem;
  justify-items: end;

  @media all and (max-width: 1400px) {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
  @media all and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media all and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.productsListLoadMoreBtn {
  margin-top: 2rem;
  @media all and (max-width: 600px) {
    display: flex;
    justify-content: center;
  }
}

.productItem {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  height: 600px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  font-family: 'Roboto', serif;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: 350ms ease-in-out;

  &:hover {
    transform: scale(1.025);
  }
}

.productInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.productInfo {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Roboto', serif;
  font-weight: 300;

  span {
    width: 50%;
    text-align: center;
    position: relative;
  }

  input {
    margin: 0 auto;
  }

  button {
    margin: 0 auto;
  }
}

.productImg {
  background-color: black;
  margin: 0;
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: center;
}

.productTitle {
  font-family: 'Roboto', serif;
  font-weight: 300;
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;

  &:hover {
    color: $alliance-orange;
  }
}

.priceInfo {
  margin: 10px 5px;
  display: flex;
  align-items: center;

  input {
    text-align: center;
    width: 5rem;
    height: 1.5rem;
    border: 1px solid $alliance-grey;
    border-radius: 5px;
    transition: .3s ease-in-out;

    &:focus {
      outline: none !important;
      border: 1px solid $alliance-orange;
      box-shadow: 0 0 10px $alliance-grey;
    }
  }

  @include bottomBorder;
}

.stockInfo {
  margin: 10px 5px;
  display: flex;
  align-items: center;
  @include bottomBorder;
}

.buyInfo {
  margin: 10px 5px;
  display: flex;
  align-items: center;
}

.notInStock {
  @include toCenter;
  margin: 10px 5px;
}

.buyBtn {
  font-family: 'Roboto', serif;
  font-weight: 300;
  transition: .3s ease-in-out;
  cursor: pointer;
  background-color: white;
}

.IconBtn {
  top: 5px;
  right: 5px;
  position: absolute !important;
}

.rightBorder {
  @include rightBorder;
}