@import '../../variables.scss';

@mixin header-img {
  img {
    width: 36px;
    height: 36px;
    margin-right: .3rem;
  }
  @media all and (max-width: 1024px) {
    img {
      width: 24px;
      height: 24px;
      margin-right: .1rem;
    }
  }
  @media all and (max-width: 768px) {
    img {
      width: 18px;
      height: 18px;
      margin-right: .1rem;
    }
  }
}

.headerWrapper {
  @include horizontal-lines;
  height: 120px;
  position: relative;

  ul {
    @include left-right-padding;
  }

  span {
    display: inline-block;
  }

  @media all and (max-width: 425px) {
    height: 80px;
  }
}

.container {
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  @media all and (max-width: 425px) {
    grid-template-columns: 1fr 1fr .8fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    grid-template-areas:
            "logo contactInfo auth"
            "socials contactInfo cart";
  }
}

.logo {
  @include logo;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 50px;
    height: 50px;
  }

  @media all and (max-width: 1024px) {
    max-width: 200px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  @media all and (max-width: 768px) {
    max-width: 140px;
    img {
      width: 34px;
      height: 34px;
    }
  }
  @media all and (max-width: 425px) {
    grid-area: socials;
    justify-self: center;
    align-self: start;
    max-width: 85px;
    margin: 3px 0;
    justify-content: space-between;
    img {
      width: 18px;
      height: 18px;
    }
  }
  @media all and (max-width: 375px) {
    max-width: 70px;
    img {
      width: 1rem;
      height: 1rem;
    }
  }
  @media all and (max-width: 320px) {
    max-width: 65px;
  }
}

.contactInfo {
  @include light-font;
  @include header-img;

  span {
    display: flex;
    align-items: center;
  }

  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.8rem;
  @media all and (max-width: 425px) {
    grid-area: contactInfo;
  }
}

.cart {
  @include light-font;
  @include header-img;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    margin: auto 0;
    @include toCenter;
  }

  @media all and (max-width: 425px) {
    grid-area: cart;
    align-self: start;
  }
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  @include light-font;
  @include header-img;
  span {
    @include toCenter;
  }

  @media all and (max-width: 425px) {
    grid-area: auth;
    align-self: end;
  }
}