@import '../../variables';

.searchBar {
  display: flex;
  gap: 1rem;
  width: 100%;
  @media all and (max-width: 425px) {
    align-items: center;
    justify-content: space-between;
  }
  margin-bottom: 1rem;
}

.searchBarInput {
  width: 100%;
  border-radius: 10px;
  @media all and (max-width: 425px) {
    width: 90%;
  }
}