@import '../../variables';

.searchBar {
  @include btn;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  @media all and (max-width: 425px) {
    align-items: center;
    justify-content: space-between;
  }
}

.searchBarInput {
  width: 60%;
  border-radius: 10px;
  @media all and (max-width: 425px) {
    width: 90%;
  }
}