@import "../../variables";

.burgerContainer {
  width: 100%;
  background-color: $alliance-orange;
  transition: .6s ease-in-out;
  transform: translateX(-150%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: none;
  z-index: -1;
  @media all and (max-width: 625px) {
    display: block;
  }
}

.isActive {
  z-index: 100;
  min-height: 100%;
  transform: translateX(0);
}

.sidebarList {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 3rem;
}

.sidebarItem {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: black;
}
