@import "../../../../../../variables";

.orderWrapper {
  margin: .5rem 0;
  padding: 1rem;
}

.orderInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderProducts {

}

.orderDeliveryInfo {

}

.orderCreatedAt {
  color: $alliance-grey;
}

.orderSum {
  display: flex;
  gap: 1rem;
  p {
    font-size: 1.5rem;
  }
}