@import "../../../../../../variables";

.orderWrapper {
  margin: .5rem 0;
  padding: 1rem;
}

.orderInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownWrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 2rem;
}

.orderProducts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.orderProductItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  img {
    width: 45px;
    height: 45px;
  }
  span {
    font-family: 'Roboto', serif;
    font-weight: 300;
    color: $alliance-grey;
    font-size: 14px;
  }
  .orderProductInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .productTitle {
    transition: .3s ease-in-out;
    &:hover{
      color: $alliance-orange;
    }
  }
}

.orderDeliveryInfo {

}

.orderCreatedAt {
  color: $alliance-grey;
}

.orderSum {
  display: flex;
  gap: 1rem;
  p {
    font-size: 1.5rem;
  }
}