@import '../../../variables.scss';

.cartPageWrapper {
  margin: 2rem 0;
}

.emptyCartWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0;
  h1 {
    font-family: 'Roboto', serif;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 1rem;
  }
}

.cartTitle {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 2rem;
}

.topText {
  padding-left: 200px;
  display: grid;
  grid-template-columns: 3fr 1fr .5fr 1fr;
  width: 100%;
  margin-bottom: 1rem;
  p {
    text-align: center;
  }
  @media all and (max-width: 765px) {
    display: none;
  }
}

.productsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productItem {
  width: 100%;
  border: 1px solid $alliance-grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  @media all and (max-width: 765px) {
    flex-direction: column;
  }
}

.productInfo {
  display: grid;
  grid-template-columns: 3fr 1fr .5fr 1fr;
  width: 100%;
  font-family: 'Roboto', serif;
  font-weight: 300;
  @media all and (max-width: 765px) {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}

.productImg {
  img {
    max-width: 200px;
    border-radius: 10px;
    @media all and (max-width: 765px) {
      margin: 1rem;
    }
  }
}

.productTitle {
  font-size: 1.5rem;
  font-family: 'Roboto', serif;
  font-weight: 300;
  text-align: center;
  transition: .3s ease-in-out;
  position: relative;
  &:hover {
    color: $alliance-orange;
  }
}

.productPrice {
  @include toCenter;
  word-wrap: normal;
}

.productQuantity {
  @include toCenter;

}

.productPriceForQuantity {
  @include toCenter;
}

.deleteIconBtn {
  position: absolute !important;
  top: 5px;
  right: 5px;
  left: auto;
}

.bottomInfo {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
