@import '../../../variables.scss';

.cartPageWrapper {
  margin: 2rem 0;
}

.emptyCartWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0;
  h1 {
    font-family: 'Roboto', serif;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 1rem;
  }
}

.cartTitle {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 2rem;
}

.productsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productItem {
  width: 100%;
  border: 1px solid $alliance-grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.productInfo {
  display: grid;
  grid-template-columns: 3fr 1fr .5fr 1fr;
  width: 100%;
}

.productImg {
  display: block;
  img {
    border-radius: 10px;
    width: 250px;
  }
}

.productTitle {
  font-size: 1.5rem;
  font-family: 'Roboto', serif;
  font-weight: 300;
  text-align: center;
  transition: .3s ease-in-out;
  &:hover {
    color: $alliance-orange;
  }
  @media all and (max-width: 1024px) {
    font-size: 1rem;
  }
  @media all and (max-width: 768px) {
    font-size: 14px;
  }
  @media all and (max-width: 1024px) {
    font-size: 1rem;
  }
  @media all and (max-width: 1024px) {
    font-size: 1rem;
  }
  @media all and (max-width: 1024px) {
    font-size: 1rem;
  }
}

.productPrice {
  @include light-font;
  @include toCenter;
  word-wrap: normal;
}

.productQuantity {
  @include light-font;
  @include toCenter;

}
.productPriceForQuantity {
  @include light-font;
  @include toCenter;
}

.deleteIconBtn {
  position: absolute !important;
  top: 5px;
  right: 5px;
  left: auto;
}

.helperText {
  @include light-font;
  font-size: 14px;
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 1fr;
}

.orderSum {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.bottomInfo {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.orderPage {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  margin: 2rem 0;
}

.orderPersonalInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

.orderLFM {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.orderField {
  width: 80%;
}

.deliveryForm {
  width: 80%;
  margin-bottom: 1rem !important;
}

.novaPoshtaDelivery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.orderContactInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orderForm {}