.pageTitle {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.newOrderInfoWrapper {
  max-width: 625px;
  width: 100%;
}

.orderPage {

}

.orderPage.orderPageInfo {

}