@import '../../../../variables.scss';

.chipsList {
  margin: 1rem 0;
}

.productsPageWrapper {
  margin: 2rem 0;
  min-height: 100%;
  display: grid;
  grid-template-columns: 2fr 3.2fr;

  @media all and (max-width: 425px) {
    display: flex;
    flex-direction: column;
  }
  @media all and (max-width: 1440px) {
    grid-template-columns: 1fr 3fr;
  }
}

.sidebar {
  width: fit-content;
  position: relative;
}

.sidebarWrapper {
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
}

.sidebarContainer {
  padding: 2rem;
}

.productsWrapper {
  @media all and (max-width: 425px) {
    margin: 1rem;
  }
  @media all and (max-width: 425px) {
    margin: 0;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-family: 'Roboto', serif;
  font-weight: 300;
  @media all and (max-width: 425px) {
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 0;
  }
  @media all and (max-width: 425px) {

  }
}

.catalogItem {
  transition: 300ms ease-in-out;
  &:hover {
    color: $alliance-orange;
  }
}

.priceRange {
  padding: 1rem;
}

.priceRangeTitle {
  @include light-font;
  margin-bottom: 1rem;
}

.rangePrices {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  span {
    font-family: 'Roboto', serif;
    font-weight: 300;
    font-size: 18px;
  }

  &:before {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    margin: auto;
    height: 2px;
    width: 2rem;
    background-color: $alliance-grey;

  }
}

.searchBar {
  @include btn;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  @media all and (max-width: 425px) {
    align-items: center;
    justify-content: space-between;
  }
}

.searchBarInput {
  width: 60%;
  border-radius: 10px;
  @media all and (max-width: 425px) {
    width: 90%;
  }
}

.filtrationList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.noItemsTitle {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  @media all and (max-width: 425px) {
    align-items: center;
    justify-content: center;
  }
}

.productItem {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 600px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  font-family: 'Roboto', serif;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 350ms ease-in-out;
  position: relative;
  &:hover {
    transform: scale(1.025);
  }
  @media all and (max-width: 1440px) {
    width: 260px;
  }
}

.productInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.productInfo {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Roboto', serif;
  font-weight: 300;

  span {
    width: 50%;
    text-align: center;
    position: relative;
  }

  input {
    margin: 0 auto;
  }

  button {
    margin: 0 auto;
  }
}

.productImg {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  @media all and (max-width: 1440px) {
    width: 260px;
    height: 260px;
  }
}

.productTitle {
  font-family: 'Roboto', serif;
  font-weight: 300;
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;

  &:hover {
    color: $alliance-orange;
  }
}

.priceInfo {
  margin: 10px 5px;
  display: flex;
  align-items: center;

  input {
    text-align: center;
    padding: 0 5px;
    border: 1px solid $alliance-orange;
    border-radius: 10px;
    width: 5rem;
    height: 1.5rem;
  }

  @include bottomBorder;
}

.stockInfo {
  margin: 10px 5px;
  display: flex;
  align-items: center;
  @include bottomBorder;
}

.buyInfo {
  margin: 10px 5px;
  display: flex;
  align-items: center;
}

.notInStock {
  @include toCenter;
  margin: 10px 5px;
}

.buyBtn {
  font-family: 'Roboto', serif;
  font-weight: 300;
  transition: .3s ease-in-out;
  cursor: pointer;
  background-color: white;
}

.IconBtn {
  top: 5px;
  right: 5px;
  position: absolute !important;
}

.loadMoreBtn {
  font-size: 2rem;
}

.rightBorder {
  @include rightBorder;
}