@import '../../../variables.scss';

.productWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productInfo {
  display: flex;
  gap: 2rem;
}

.productImg {
  grid-area: image;
  max-width: 400px !important;
  width: 100%;
  height: auto !important;
  position: relative;

  img {
    object-position: center;
    object-fit: cover;
    border-radius: .5rem;
    width: 100% !important;
    height: auto !important;
  }
}

.productPrice {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0;
}

.addToCart {
  display: flex;
  gap: 1rem;
}

.addToCartInput {
  text-align: center;
  padding: 0 5px;
  border: 1px solid $alliance-grey;
  border-radius: 5px;
  transition: .3s ease-in-out;

  &:focus {
    outline: none !important;
    border: 1px solid $alliance-orange;
    box-shadow: 0 0 10px $alliance-grey;
  }
}

.favouriteIcon {
  top: 5px;
  right: 5px;
  position: absolute !important;
}

.productTitle {
  font-size: 2rem;
}

.packagingList {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.packagingItem {
  display: flex;
  padding: .3rem 1rem;
  border-radius: 5px;
  border: 1px solid $alliance-orange;
}

.textInfo {
  grid-area: textInfo;
  font-family: 'Roboto', serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.productArticle {
  color: $alliance-grey;
  margin-top: .5rem;
}

.inStock {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.description {
  display: flex;
  flex-direction: column;
}

.descriptionTitle {
  font-size: 2rem;
}

.descriptionText {
  font-size: 1rem;
}

.characteristics {
}

.characteristicsTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.characteristicsList {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.characteristicsItem {
  border: 1px solid $alliance-grey;
  padding: .5rem 1rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1.375fr 3fr;

  dt {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  dd {
    display: flex;
    align-items: center;
  }

  @media all and (max-width: 600px) {
    grid-template-columns: 1.25fr 2fr;
  }
}

.characteristicsValue {
  padding-left: 1rem;
  border-left: 1px solid $alliance-grey;
}

.orderInfo {
  grid-area: orderInfo;

  p {
    font-size: 2rem;
  }

  ul {
    list-style: circle;
    margin-left: 1rem;
  }

  li {
    font-family: 'Roboto', serif;
    font-weight: 300;
  }
}

@media all and (max-width: 1440px) {
  .productInfo {
    grid-template-areas:
            "image textInfo"
            "orderInfo orderInfo";
    grid-gap: 2rem;
  }
}

@media all and (max-width: 900px) {
  .productInfo {
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 768px) {
  .productImg {
  }
}

@media all and (max-width: 320px) {
  .productImg {

  }
}
