$alliance-orange: #F7A500;
$alliance-grey: #BBBBBB;

@mixin left-right-padding {
  padding: 0 10rem;
  @media all and (max-width: 1024px) {
    padding: 0 2rem;
  }
  @media all and (max-width: 768px) {
    padding: 0 2rem;
  }
  @media all and (max-width: 425px) {
    padding: 0 1rem;
  }
  @media all and (max-width: 320px) {
    padding: 0 .625rem;
  }

}

@mixin horizontal-lines {
  &::before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: $alliance-grey;
    width: 100%;
  }
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: $alliance-grey;
    width: 100%;
  }
}

@mixin logo {
    font-weight: 500;
    font-size: 42px;
    span {
      display: block;
    }
    @media all and (max-width: 1024px) {
      font-size: 36px;
    }
    @media all and (max-width: 768px) {
      font-size: 24px;
    }
    @media all and (max-width: 425px) {
      font-size: 28px;
      line-height: 20px;
      grid-area: logo;
      justify-self: center;
      align-self: end;
    }
    @media all and (max-width: 375px) {
      font-size: 24px;
    }
    @media all and (max-width: 320px) {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
}

@mixin light-font {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
  font-weight: 300;
  @media all and (max-width: 1024px) {
    font-size: 1.125rem;
    line-height: 1rem;
  }
  @media all and (max-width: 768px) {
    font-size: 1rem;
    line-height: .8rem;
  }
  @media all and (max-width: 425px) {
    font-size: .75rem;
    line-height: .8rem;
  }
  @media all and (max-width: 375px) {
    font-size: .6rem;
    line-height: .8rem;
  }
}

@mixin toCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}