$alliance-orange: #F7A500;
$alliance-grey: #BBBBBB;

@mixin left-right-padding {
  padding-right: 10rem;
  padding-left: 10rem;
  @media all and (max-width: 1440px) {
    padding-right: 6rem;
    padding-left: 6rem;
  }
  @media all and (max-width: 1024px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  @media all and (max-width: 768px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  @media all and (max-width: 425px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  @media all and (max-width: 320px) {
    padding-right: .625rem;
    padding-left: .625rem;
  }

}

@mixin horizontal-lines {
  &::before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: $alliance-grey;
    width: 100%;
  }
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: $alliance-grey;
    width: 100%;
  }
}

@mixin logo {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 42px;
  span {
    display: block;
  }
  @media all and (max-width: 1024px) {
    font-size: 36px;
  }
  @media all and (max-width: 768px) {
    font-size: 24px;
  }
  @media all and (max-width: 425px) {
    font-size: 28px;
    line-height: 20px;
    grid-area: logo;
    justify-self: center;
    align-self: end;
  }
  @media all and (max-width: 375px) {
    font-size: 24px;
  }
  @media all and (max-width: 320px) {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

@mixin light-font {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
  font-weight: 300;
  @media all and (max-width: 1110px) {
    font-size: 1.125rem;
    line-height: 1rem;
  }
  @media all and (max-width: 768px) {
    font-size: 1rem;
    line-height: .8rem;
  }
  @media all and (max-width: 425px) {
    font-size: .75rem;
    line-height: .8rem;
  }
  @media all and (max-width: 375px) {
    font-size: .6rem;
    line-height: .8rem;
  }
}

@mixin toCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  position: relative;
  button {
    cursor: pointer;
    color: $alliance-orange;
    background-color: white;
    border: 1px solid $alliance-orange;
    transition: .3s ease-in-out;

    &:hover {
      background-color: $alliance-orange;
      color: white;
      border: 1px solid $alliance-orange;
    }
  }
}

@mixin rightBorder {
  position: relative;
  &:after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    width: 1px;
    background-color: $alliance-grey;
  }
}

@mixin bottomBorder {
  position: relative;
  &:after {
    position: absolute;
    right: 10px;
    left: 10px;
    bottom: -10px;
    content: "";
    height: 1px;
    background-color: $alliance-grey;
  }
}